.project-item {
    margin-bottom: 20px;
}
.project-item h2,
.h2 {
    font-size: 15px;
}
.project-item h3,
.h3 {
    font-size: 12px;
}
.project-item .details p {
    border-top: 1px solid #DDDDDD;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 200;
    padding-top: 3px;
}

.details p span {
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 2px;
}

.project-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 70%;
    transition: all 0.4s ease-out 0s;
}

.project-item .img_bg {
  background-color: #dcedef;
  border-radius: 10px;
}

.section{
    padding: 150px 0;
    position: relative;
}
