/*
Theme Name:     ICOs Child
Theme URI:      http://wpdemo.oceanthemes.net/icos/
Description:    Make your modifications to [Parent Theme] in this child theme.
Author:         Oceanthemes
Author URI:     http://oceanthemes.net/
Version:        1.0
Template:       icos
*/

@import url("../icos/style.css");
 
/* =Theme customization starts here
------------------------------------------------------- */